<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} — {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/_sass/main.css">

    {% if page.style %}
        <!-- Page CSS -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ page.scss | replace: '.scss', '.css' }}">
    {% endif %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3HERGXF6P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-G3HERGXF6P');
    </script>

</head>